
header{
    margin-top: -2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo{
        img{
            width: 3rem;
        }
    }
    .header-right{
        display: flex;
        align-items: center;
        margin-right: 1px;
        margin-left: auto;
        .fonts{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 3.5rem;
            .current-font-and-icon{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                cursor: pointer;
                border: none;
                outline: none;
                background-color: transparent;
                p{
                    //font-size: 1.3rem;
                }
                img{
                    transform: scale(40%);
                    width: 3rem;
                }
            }
            .drop-down-content{
                display: flex;
                opacity: 0;
                flex-direction: column;
                text-align: center;
                background-color: map-get($primary, "White");
                border-radius: 5px;
                width: 8rem;
                height: 7rem;
                margin-left: 2rem;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                z-index: 5;
                gap: 0.5rem;
                span{
                    cursor: pointer;
                    width: 100%;
                    margin-block: auto;
                    &:hover{
                        color: map-get($primary, "Dark-Violet");
                    }
                }
                .serif{
                    font-family: $serif !important;
                }
                .sans-serif{
                    font-family: $sans-serif !important;
                }
                .mono{
                    font-family: $mono !important;
                    font-size: 1.2rem;
                }
            }
        }
        .line{
            width: 2px;
            height: 2.5rem;
            background-color: map-get($gray, "Gray-200");
        }
        .toggle{
            margin-left: 0.8rem;
            margin-top: 0.15rem;
            margin-right: 0.5rem;
            .toggle-bar{
                display: inline-block;
                width: 2.5rem;
                height: 1.25rem;
                input{
                    display: none;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    &:checked+ span::before{
                        transform: translateX(1.25rem);
                    }
                    &:checked+ span{
                        background-color: map-get($primary, "Dark-Violet");
                    }
    
                }
                
                span{
                    display: block;
                    //height: 100%;
                    //width: 100%;
                    height: 1.25rem;
                    width: 2.5rem;
                    background-color: map-get($gray, "Gray-300");
                    border-radius:15px;
                    cursor: pointer;
                    transition: 0.2s ease all;
                    position: absolute;
                    top: 2.3rem;
                    &::before{
                        content: "";
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        //width: 40%;
                        //height: 80%;
                        background-color: map-get($primary, "White");
                        border-radius: 50%;
                        //margin-left: 0.15rem;
                        position: absolute;
                        margin-top: 0.15rem;
                        margin-left: 0.15rem;
                        //top: 0.1rem;
                        transition: 0.2s ease all;
                    }
                }
    
            }
        }
        .moon{
            margin-top: 0.15rem;
            img{
                width: 1.5rem;
                margin-bottom: 0.2rem;
                margin-left: 0.2rem;
            }
        }
    }
    
}