@import "mixins";

//.meanings{
  //  margin-top: 1.5rem;
    .heading-noun{
        @include headings;
        .part-of-speech-noun{
            margin-right: 1rem;
        }
        hr{
           @include hr;
        }
    }
    .meanings-part{
        margin-top: 1.5rem;
        .meaning{
            @include meaning;
        }
            .list-of-meanings{
                margin-top: 1rem;
                li{
                    @include meanings-list;
                }
            }
    }
    .synonym-part{
        @include synonym-example-div;
        h4{
            @include synonym-example-text
        }
        span{
            color: map-get($primary, "Dark-Violet");
        }
    }


    //VERB SECTION
    .verb-section{
        .heading-verb{
            @include headings;
            .part-of-speech-verb{
                margin-right: 1rem;
            }
            hr{
               @include hr;
            }
        }
        .meanings-part-verb{
            margin-top: 1.5rem;
            .meaning{
                @include meaning;
            }
                .list-of-meanings-verb{
                    margin-top: 1rem;
                    li{
                        @include meanings-list;                   
                    }
                }
        }
    
        .example-part{
            @include synonym-example-div;
            h4{
                @include synonym-example-text;
            }
        }
    }
    
//}

.final-bottom-margin{
    @include hr;
    margin-block: 1.5rem;
}