@import "colors";
@import "fonts";
@import "reset";
@import "header";

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .search-box{
        z-index: 10;
        height: 4rem;
        width: 100%;
        border: none;
        background-color: map-get($gray, "Gray-150");
        font-size: 1.2rem;
        font-weight: map-get($weights, "Black");
        letter-spacing: 0.05rem;
        border-radius: 15px;
        padding-left: 1rem;
        padding-right: 3rem;
        &:focus{
            outline: 2px solid map-get($primary, "Dark-Violet");
        }
    }
    .search-btn{
        z-index: 15;
        border: none;
        background-color: transparent;
        outline: none;
        img{
            position: absolute;
            transform: translate(-3rem, -1rem);
            width: 2rem;
            cursor: pointer;
        }
    }
}


//Main content
main{
    .main-top{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        .word-left{
            margin-left: 0;
            margin-right: auto;
            .word{
                font-size: 2rem;
                font-weight: map-get($weights, "Bold");
            }
            .phonetic{
                color: map-get($primary, "Dark-Violet");
            }
        }
        .word-right{
            background-color: map-get($primary, "Light-Violet");
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            text-align: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                background-color: map-get($primary, "Dark-Violet");
            }
            &:hover > img{
                filter: brightness(100);
            }
            img{
                width: 1.3rem;
                height: 100%;
                margin-left: 0.3rem;
            }
            audio{

            }
        }
    }
}


